@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #265073;
}

header {
    background-color: #2D9596;
    color: #ECF4D6;
    padding: 20px;
    text-align: center;
}

.buttons {
    display: grid;
    justify-content: center;
    padding: 20px;
    align-content: flex-start;

    position: fixed;
    margin-top: 220px;
    left: 50%;
    transform: translate(-50%, -50%);

}

.buttons button {
    padding: 5px;
    border-radius: 5px;

    height: 50px;
    margin: 5px;

    border: none;
    cursor: pointer;
    background-color: #2D9596;
    color: #fff;
    font-size: 16px;
}

.panels {

    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.panel {
    border: 1px solid;
    border-radius: 5px;
    width: 40%;
    padding: 10px;
    background-color: #2D9596;
}

#files-folders-list-1,
#files-folders-list-2 {
    list-style: none;
    padding: 0;
}

#files-folders-list-1 li,
#files-folders-list-2 li {
    display: flex;
    align-items: center;

    margin-bottom: 5px;
    cursor: pointer;
    background-color: #8ACDD7;
    border-color: #B6BBC4;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
}


#files-folders-list-1 li.selected,
#files-folders-list-2 li.selected {
    background-color: #B6BBC4;
}


#files-folders-list-1 li:hover,
#files-folders-list-2 li:hover {
    background-color: #ECF4D6;
}

#files-folders-list-1 li img,
#files-folders-list-2 li img {
    max-width: 30px;
    height: auto;
}

#files-folders-list-1 li span,
#files-folders-list-2 li span{
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
}

#files-folders-list-1 li .details,
#files-folders-list-2 li .details{
    text-align: right;
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

.path-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #2D9596;
    border-radius: 5px;
    margin-bottom: 10px;
}

.path-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.main-dir-name {
    padding: 8px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 18px;
}

.buttons-search {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    background-color: #70b5b6;
    color: #fff;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

.buttons-search:hover {
    background-color: #0056b3;
}


